[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
preview-generator = {extras = ["all"], version = "*"}
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
