.pulse-background {
	background: linear-gradient(-45deg, rgba(0,0,0,0) 44%, rgba(79,195,247,0.2) 50%, rgba(34,39,46,0) 56%);;
	background-size: 650% 650%;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
